body{
	background: #5fbcd3;
}

.heading{
	margin-top: 15%;
	color: white;
	font-weight: 400;
}

.inputs{
	display: flex;
	align-content: center;
	justify-content: center;
}

.firstInput,.secondInput{
	margin: 60px;
	width: 220px;
	border-radius: 5px;
}


.swap:hover{
	cursor: pointer;
}

.rotate{
	transform : rotate(-360deg);
	transition: 0.7s;
}

.options1,.options2{
	height: 30px;
	width: 70px;
	border-radius: 5px;
	position: relative;
	top: 61px;
	left: 61px;
	z-index: 5;
	display: flex;
	justify-content: space-between;

}

.reset{
    background-color: #2c89a0;
    width: 177px;
    height: 42px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 42%;
}

.reset:hover{
	cursor: pointer;
}

.red{
	color: red;
	font-weight: bold;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.heading{
		margin-top: 15%;
		font-size: 120px;
		font-weight: 400;
		width: 100%;
	}

	.firstInput,.secondInput{
		
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 321px) {
	
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
body{
		background-color: black;
	}
}