body{
	background: #5fbcd3;
}

.heading{
	margin-top: 15%;
	color: white;
	font-weight: 400;
}

.inputs{
	display: flex;
	align-content: center;
	justify-content: center;
}

.firstInput,.secondInput{
	margin: 60px;
	width: 220px;
	border-radius: 5px;
}


.swap:hover{
	cursor: pointer;
}

.rotate{
	transform  : rotate(360deg);
	transition: 0.7s;
}

.options{
	height: 30px;
	width: 70px;
	border-radius: 5px;
	position: relative;
	top: 61px;
	left: 61px;
	z-index: 5;
	display: flex;
	justify-content: space-between;

}

.reset{
    background-color: #2c89a0;
    width: 177px;
    height: 42px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 42%;
    box-shadow: 4px 4px 0px black;
}

.reset:hover{
	box-shadow: 1px 1px 0px black;
	cursor: pointer;
	transition: all 0.5s;
}



